In [1]:
x = "Pluto is a planet"
y = 'Pluto is a planet'
x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [3]:
'Pluto's a planet!'

SyntaxError: unterminated string literal (detected at line 1) (1561186517.py, line 1)

In [4]:
'Pluto\'s a planet'

"Pluto's a planet"

In [6]:
hello = "hello\nworld"
print(hello)

hello
world

In [10]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)

hello
world

In [8]:
triplequoted_hello == hello

False

In [9]:
hello

'hello\nworld'

In [11]:
triplequoted_hello == hello

True

In [1]:
print("hello")
print("world")
print("hello", end = " ")
print("pluto", end = " ")

hello
world
hello pluto

In [1]:
planet = "Pluto" 
planet[0]

'P'

In [2]:
planet[-3:]

'uto'

In [3]:
len(planet)

5

In [5]:
[char.upper() + "!" for char in planet]

['P!', 'L!', 'U!', 'T!', 'O!']

In [6]:
planet[0] = "B"

TypeError: 'str' object does not support item assignment

In [7]:
claim = "pluto is a planet!" 
claim.upper()

'PLUTO IS A PLANET!'

In [8]:
claim.index("plan")

11

In [9]:
planet

'Pluto'

In [10]:
claim

'pluto is a planet!'

In [11]:
claim = "Pluto is a planet!"

In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [3]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [4]:
hello = "hello\nworld"
print(hello)

hello
world

In [5]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [6]:
print("hello")
print("world")
print("hello", end = " ")
print("pluto")

hello
world
hello pluto

In [7]:
planet = 'Pluto'
planet[0]

'P'

In [9]:
planet[-3:]

'uto'

In [10]:
len(planet)

5

In [11]:
[char.upper() + "!" for char in planet]

['P!', 'L!', 'U!', 'T!', 'O!']

In [12]:
planet[0] = "B"

TypeError: 'str' object does not support item assignment

In [13]:
claim = "Pluto is a planet"
claim.upper()

'PLUTO IS A PLANET'

In [14]:
claim.index("plan")

11

In [15]:
planet

'Pluto'

In [16]:
claim

'Pluto is a planet'

In [17]:
claim.startswith(planet)

True

In [18]:
claim.endswith("planet")

True

In [19]:
claim

'Pluto is a planet'

In [20]:
words = claim.split()

In [21]:
words

['Pluto', 'is', 'a', 'planet']

In [22]:
datestr = '19956-01-31'
year, month, day = datestr.split("-")

In [23]:
year, month, day

('19956', '01', '31')

In [25]:
'/'.join([month, day, year])

'01/31/19956'

In [26]:
" 👏 ".join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET'

In [27]:
planet?

In [31]:
planet + ", we miss you."

'Pluto, we miss you.'

In [30]:
planet = "Pluto"

In [32]:
position = 9

In [34]:
planet + ", you'll always be the " + str(position) + "th planet to me"

"Pluto, you'll always be the 9th planet to me"

In [35]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [36]:
pluto_mass = 1.303 * 10 ** 22
earth_mass = 5.9722 * 10 ** 24
population = 52910390

f"{planet} weighs about {pluto_mass:.2} kilograms ({pluto_mass / earth_mass:.3%} of Earth's mass). It is home to {population:,} Plutonians."

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [37]:
s = """Pluto's a {0}.
No, It's a {1}.
{0}!
{1}!""".format("planet", "dwarf planet")
print(s)

Pluto's a planet.
No, It's a dwarf planet.
planet!
dwarf planet!

In [38]:
numbers = {"one": 1, "two": 2, "three": 3}

In [39]:
numbers["one"]

1

In [40]:
numbers["two"]

2

In [41]:
numbers["three"]

3

In [42]:
numbers["eleven"] = 11

In [43]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [44]:
numbers["one"] = "Pluto"

In [45]:
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [46]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [47]:
planet_to_initial = {planet:planet[0] for planet in planets}

In [48]:
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [49]:
"Saturn" in planet_to_initial

True

In [50]:
"Betelgeuse" in planet_to_initial

False

In [51]:
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [52]:
for k in numbers:
    print(f"{k} = {numbers[k]}")

one = Pluto
two = 2
three = 3
eleven = 11

In [53]:
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [55]:
" ".join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [56]:
planet_to_initial.items()

dict_items([('Mercury', 'M'), ('Venus', 'V'), ('Earth', 'E'), ('Mars', 'M'), ('Jupiter', 'J'), ('Saturn', 'S'), ('Uranus', 'U'), ('Neptune', 'N')])

In [57]:
planet

'Pluto'

In [65]:
for planet, initial in planet_to_initial.items():
    print(f'{planet.rjust(10)} begins with "{initial}"')

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [59]:
for planet, initial in planet_to_initial.items():
    print(planet, initial)

Mercury M
Venus V
Earth E
Mars M
Jupiter J
Saturn S
Uranus U
Neptune N

In [66]:
MLB_team = {
    "Colorado" : "Rockies",
    "Boston"   : "Red Sox",
    "Minnesota": "Twins",
    "Milwaukee": "Brewers",
    "Seattle"  : "Mariners"
}

In [67]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [68]:
MLB_team2 = dict([
    ("Colorado", "Rockies"), 
    ("Boston", "Red Sox"),
    ("Minnesota", "Twins"),
    ("Milwaukee", "Brewers"),
    ("Seattle", "Mariners")
    
])

In [69]:
MLB_team2

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [71]:
MLB_team3 = dict(
    Colorado = "Rockies", 
    Boston = "Red Sox",
    Minnesota = "Twins",
    Milwaukee = "Brewers",
    Seattle = "Mariners"

)

In [72]:
MLB_team3

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [73]:
type(MLB_team)

dict

In [74]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [75]:
MLB_team[1]

KeyError: 1

In [76]:
MLB_team['Minnesota']

'Twins'

In [77]:
MLB_team['Colorado']

'Rockies'

In [78]:
MLB_team['Toronto']

KeyError: 'Toronto'

In [79]:
MLB_team['Kansas City'] = 'Royals'

In [80]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [81]:
MLB_team['Seattle'] = 'Seahawks'

In [82]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [83]:
del MLB_team['Seattle']

In [84]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [85]:
e = '\n'

In [86]:
print(e)

In [87]:
len(e)

1

In [88]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [89]:
claim

'Pluto is a planet'

In [90]:
claim.lower()

'pluto is a planet'

In [92]:
x = (claim.lower()).split()

In [93]:
x

['pluto', 'is', 'a', 'planet']

In [94]:
keyword = "Pluto"
y = keyword.lower()

In [95]:
y

'pluto'

In [96]:
y in x

True

In [109]:
word_search(sample_list, word)

[1]

In [105]:
sample_list

['The Learn Python Challenge Casino', 'They bought a car', 'Casinoville']

In [116]:
str_list = ["one", "two", "three", ["four", "five", ["six", "seven", "eight"]]]

In [167]:
def flatten(input_list):
    output_list = []
    for element in input_list:
        if type(element) == list:
            output_list.extend(flatten(element))
        else:
            output_list.append(element)
    return output_list

In [118]:
flatten_str_list = flatten(str_list)
flatten_str_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

A researcher has gathered thousands of news articles. But she wants to focus her attention on articles including a specific word. Complete the function below to help her filter her list of articles.

Your function should meet the following criteria:

    Do not include documents where the keyword string shows up only as a part of a larger word. For example, if she were looking for the keyword “closed”, you would not include the string “enclosed.”
    She does not want you to distinguish upper case from lower case letters. So the phrase “Closed the case.” would be included when the keyword is “closed”
    Do not let periods or commas affect what is matched. “It is closed.” would be included when the keyword is “closed”. But you can assume there are no other types of punctuation.

In [132]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    output_list = [] #creating a list to store result 
    index_position = 0 # We need the index positions in output list 
    keyword = keyword.lower() # lowercasing the keyword to comparae 
    
    for element in doc_list:
        """ the loop will check every element in the given list 
        as there are any match with the given keyword"""
        if type(element) == list:  
            x = word_search(element, keyword)
            if len(x) > 0:
                output_list.append(index_position)
        else:
            tmp_list = (element.lower()).split()
            test_list = []
            for element in tmp_list:
                if element.strip("',.") == keyword:
                    test_list.append(True)
            if sum(test_list) > 0:
                output_list.append(index_position)
        index_position += 1
    return output_list

'challenge'

In [130]:
x = []
if True:
    x = []
    x.append(True)
x

[True]

In [129]:
sum(x)

1

In [131]:
dic = {}
dic["word"] = [0 , 1]
dic

{'word': [0, 1]}

In [172]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    What if there is a list in keywords - the key will in the output wll
    be a tuple of the list and value will be a list cosist of sublist of 
    the index position for every keyword of the list. 
    # this function won't work for muliple words in a single sting 
    """
    output_dic = {}
    for word in keywords:
        if type(word) == list:
            tmp = []
            for element in word:
                tmp.append(word_search(doc_list, element))
            output_dic[tuple(word)] = tmp
        else:
            output_dic[word] = word_search(doc_list, word)
    return output_dic

In [188]:
test1_doc_list = ["The Learn Python Challenge Casino.", "python", "They bought a car and a casino", "Casinoville", "python challenge"] 
test2_keywords = ['casino', 'they', ["python",  "challenge"]]

In [145]:
sample_list = []
a = [1, 2, 3]
sample_list.append(a)
print(sample_list)

[[1, 2, 3]]

In [146]:
b = [4, 5, 6]
sample_list.append(b)
print(sample_list)

[[1, 2, 3], [4, 5, 6]]

In [189]:
multi_word_search(test1_doc_list, test2_keywords)

{'casino': [0, 2], 'they': [2], ('python', 'challenge'): [[0, 1, 4], [0, 4]]}

In [156]:
x = [0, 3]
y = [3]
x == y

False

In [182]:
x = [[0, 1, 4], [0, 1, 4, 5], [0, 1, 4]]
y = x.count(x[0])
y

2

In [162]:
new_x = []
for element in x:
    if element not in new_x:
        new_x.append(element)
print(new_x)

[[1, 2]]

In [185]:
x = "python challenge code"
y = "python challenge"

y in x

True