In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print(2 + 3)

5

In [3]:
print(9 - 5)

4

In [4]:
1 + 2

3

In [5]:
5 - 4

1

In [6]:
2 * 4

8

In [7]:
6 / 3

2.0

In [8]:
2 ** 3

8

In [1]:
print(((1+3) * (9 - 2) / 2) ** 2)

196.0

In [2]:
# Multiply 3 by 2
print(3 * 2)

6

In [3]:
Multiply 3 by 2

SyntaxError: invalid syntax (3750420471.py, line 1)

In [4]:
# Create a variable called test_var and give it a value of 4 + 5

test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [5]:
# Set the value of a new variable to 3 
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [6]:
print(my_var)
print(test_var)

100
9

In [7]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [9]:
# Create variables 
num_years = 4
days_per_year = 365.25
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years 
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years 
print(total_secs)

126230400.0

In [10]:
print(hours_per_dy)

NameError: name 'hours_per_dy' is not defined

In [11]:
print(hours_per_day)

24

In [1]:
def add_five(input_value):
    output_value = input_value + 5
    return output_value

In [2]:
add_five(7)

12

In [3]:
add_five(8)

13

In [4]:
def add_three_or_eight(input_value):
    if input_value < 10:
        output_value = input_value + 3
    else:
        output_value = input_value + 8
    return output_value

In [5]:
add_three_or_eight(1)

4

In [6]:
add_three_or_eight(11)

19

In [7]:
print(2 > 3)

False

In [8]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [2]:
def evaluate_temp(input_temp):
    message = "Normal temperature"
    if input_temp > 38:
        message = "Fever!"
    return message

print(evaluate_temp(35))

Normal temperature

In [3]:
print(evaluate_temp(37))

Normal temperature

In [4]:
print(evaluate_temp(39))

Fever!

In [5]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temprature."
    return message

In [6]:
print(evaluate_temp_with_else(37))

Normal temprature.

In [7]:
print(evaluate_temp_with_else(39))

Fever!

In [8]:
def evaluate_temp(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature"
    else:
        message = "Low temperature"
    return message

In [9]:
print(evaluate_temp(36))

Normal temperature

In [10]:
print(evaluate_temp(34))

Low temperature

In [11]:
print(evaluate_temp(39))

Fever!

In [12]:
def evaluate_tax(earnings):
    if earnings >= 12000:
        tax = earnings * 0.30
    else:
        tax = earnings * 0.25
    return tax

In [13]:
print(evaluate_tax(10000))

2500.0

In [14]:
print(evaluate_tax(12000))

3600.0

In [15]:
12000 * 0.30

3600.0

In [16]:
ana_taxes = evaluate_tax(9000)
bob_taxes = evaluate_tax(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [17]:
def add_three_or_eight(number):
    if number < 10:
        number = number + 3
    else:
        number = number + 8
    return number

In [18]:
add_three_or_eight(10)

18

In [19]:
add_three_or_eight(3)

6

In [20]:
def get_dose(weight):
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    else:
        dose = 10
    return dose

In [21]:
print(get_dose(12))

5

In [22]:
def get_grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [23]:
get_grade(85)

'B'

In [24]:
get_grade(49)

'F'

In [25]:
flowers = "pink primrose, hard-leaved pocked orchid, cantebury bells, sweet pea, english marigold, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose, hard-leaved pocked orchid, cantebury bells, sweet pea, english marigold, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle

In [26]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "cantebury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'cantebury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [27]:
print(len(flowers_list))

10

In [28]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

First entry: pink primrose
Second entry: hard-leaved pocket orchid

In [29]:
print("Last entry:", flowers_list[len(flowers_list) - 1])

Last entry: globe thistle

In [30]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'cantebury bells']
Final two entries: ['monkshood', 'globe thistle']

In [31]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'cantebury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [32]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'cantebury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [33]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [35]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

In [36]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

In [37]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

In [40]:
print("Average books sold in first 5 days:", sum(hardcover_sales[:5]) / 5)

Average books sold in first 5 days: 153.8

In [41]:
a = [ 1, 2, 3, 4, 5]
last_value = a[-1]

In [43]:
print(type(last_value))

<class 'int'>

In [1]:
spam_amount = 0
print(spam_amount)

#Ordering Spam, egg, Spam, Spam, becon and Spam (4 more Servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY Spam")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY Spam
Spam Spam Spam Spam