In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print(2 + 3)

5

In [3]:
print(9 - 5)

4

In [4]:
1 + 2

3

In [5]:
5 - 4

1

In [6]:
2 * 4

8

In [7]:
6 / 3

2.0

In [8]:
2 ** 3

8

In [1]:
print(((1+3) * (9 - 2) / 2) ** 2)

196.0

In [2]:
# Multiply 3 by 2
print(3 * 2)

6

In [3]:
Multiply 3 by 2

SyntaxError: invalid syntax (3750420471.py, line 1)

In [4]:
# Create a variable called test_var and give it a value of 4 + 5

test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [5]:
# Set the value of a new variable to 3 
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [6]:
print(my_var)
print(test_var)

100
9

In [7]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [9]:
# Create variables 
num_years = 4
days_per_year = 365.25
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years 
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years 
print(total_secs)

126230400.0

In [10]:
print(hours_per_dy)

NameError: name 'hours_per_dy' is not defined

In [11]:
print(hours_per_day)

24